# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: debug-statements
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.259'
    hooks:
      - id: ruff
        files: ^(matter_server|scripts)/.+\.py$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args:
           - --quiet
        files: ^(matter_server|scripts)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args: []
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        types: [python]
        language: system
        files: ^(matter_server)/.+\.py$
        require_serial: true
#      - id: pylint
#        name: pylint
#        entry: pylint -j 0
#        types: [python]
#        language: script
#        files: ^(matter_server)/.+\.py$
#        require_serial: true
