# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args:
           - --quiet
        files: ^(matter_server|scripts)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args: []
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: ^(matter_server|scripts)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--check]
        files: ^(matter_server|scripts)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
#  - repo: local
#    hooks:
#      - id: mypy
#        name: mypy
#        entry: scripts/run-in-env.sh mypy
#        types: [python]
#        language: script
#        files: ^(matter_server)/.+\.py$
#        require_serial: true
#      - id: pylint
#        name: pylint
#        entry: scripts/run-in-env.sh pylint -j 0
#        types: [python]
#        language: script
#        files: ^(matter_server)/.+\.py$
#        require_serial: true
