[build-system]
requires = ["setuptools~=62.3", "wheel~=0.37.1"]
build-backend = "setuptools.build_meta"

[project]
name = "python-matter-server"
version = "1.0.7"
license     = {text = "Apache-2.0"}
description = "Python Matter WebSocket Server"
readme = "README.md"
authors = [
    {name = "The Home Assistant Authors", email = "hello@home-assistant.io"}
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Environment :: Console",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Home Automation",
]
dependencies = [
  "aiohttp",
  "aiorun",
  "coloredlogs",
  "dacite",
  "orjson",
  "home-assistant-chip-clusters==2022.11.1"
]

[project.optional-dependencies]
server = [
  "home-assistant-chip-core==2022.11.1"
]
test = [
  "isort==5.10.1",
  "black==22.10.0",
  "flake8==5.0.4",
  "pytest-homeassistant-custom-component==0.12.9"
]

[project.scripts]
matter-server = "matter_server.server.__main__:main"

[tool.setuptools]
platforms = ["any"]
zip-safe  = false
include-package-data = true

[tool.setuptools.packages.find]
include = ["matter_server*"]


[tool.pylint.BASIC]
class-const-naming-style = "any"
good-names = [
    "_",
    "ev",
    "ex",
    "fp",
    "i",
    "id",
    "j",
    "k",
    "Run",
    "ip",
]

[tool.pylint."MESSAGES CONTROL"]
# fixme - we are still a work in progress
# too-many-instance-attributes - just because it is unavoidable
# too-few-public-methods - just because it is unavoidable
# too-many-arguments - just because it is unavoidable
disable = [
    "fixme",
    "too-many-instance-attributes",
    "too-few-public-methods",
    "too-many-arguments"
]

[tool.isort]
# https://github.com/PyCQA/isort/wiki/isort-Settings
profile = "black"
# will group `import x` and `from x import` of the same module.
force_sort_within_sections = true
src_paths = [
  "matter_server/client",
  "matter_server/common",
  "matter_server/server",
]
known_first_party = [
    "matter_server",
    "tests",
]
forced_separate = [
    "tests",
]
combine_as_imports = true
